<% content_for :title, t(".title") %>

<%= render_header(title: t(".title"), description: t(".description")) %>

<section class="grid">
  <%= link_to t("rooms.actions.new"), new_room_path, role: :button %>
  <%= link_to t("rooms.actions.join"),
  "",
  role: :button,
  class: "contrast",
  disabled: true %>
</section>

<section>
  <%= render @rooms %>
</section>
